@import url(https://fonts.googleapis.com/css?family=Lato:700);
/* https://codepen.io/nxworld/pen/oLdoWb?__cf_chl_jschl_tk__=9e3eaa243137debb3982c646db4d4b345cce4285-1590628219-0-ASm8wUlJDKqAEpHOFSZGB89PQRnD6kD5YnT4uh9hmFKpE7j8uYYyWhKDA-2ODPdBpU6b9ybmOZUcCNDoVqV73ouF40oAQaZoLBjDbCpUtjq4lLSvK0-FHYASsg1Q9QDYkDrTEL-2Z4n0dHVJF4QNaMJeHaxjESeZ6mSnfnWf4YlXxta2zUs4IE7vmyJ_oJTkwacSgTaNBS_sdnvxWojgDhj9yLJOsc9K0svpYbDX_zirNFVqM8p-2fgLs2byPFrTzWoe932R9aZ3XWEnBC_nQoAg7LJq-h9rcG-Gb-95Xl1ew7Tn4khQPGQCeAZMkoFguXdh8vme4daS34lCTwyFJJ53xQoU7s4tkudfdrJ_WePy */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
}
.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
} */

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
